<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users - MovieWeb App</title>
</head>
<body>
    <h1>Add Movie</h1>
    <form method="Post" action="{{  url_for('add_movie', user_id=user_id)  }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required="True">
        <label for="director">Director:</label>
        <input type="text" id="director" name="director" required="True">
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" required="True">
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" required="True">
        <input type="submit" value="Add Movie">
        
    </form>
</body>
</html>