{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4 text-center">Add Movie</h1>
    <form method="Post" action="{{ url_for('add_movie', user_id=user_id) }}">
        <div class="form-group mb-3">
            <label for="name">Movie Name</label>
            <input type="text" class="form-control bg-dark text-light border-light" id="name" name="name" placeholder="Enter movie name" required>
        </div>
        <div class="form-group mb-3">
            <label for="director">Director</label>
            <input type="text" class="form-control bg-dark text-light border-light" id="director" name="director" placeholder="Enter director's name" required>
        </div>
        <div class="form-group mb-3">
            <label for="year">Year</label>
            <input type="number" class="form-control bg-dark text-light border-light" id="year" name="year" placeholder="Enter release year" required>
        </div>
        <div class="form-group mb-3">
            <label for="rating">Rating</label>
            <input type="number" class="form-control bg-dark text-light border-light" id="rating" name="rating" placeholder="Enter rating" required min="0" max="10">
        </div>
        <button type="submit" class="btn btn-outline-light">Add Movie</button>
    </form>
</div>
{% endblock %}

