<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users - MovieWeb App</title>
</head>
<body>
    <h1>{{ user.name }} favourite movies</h1>
    <ul>
        {%  for movie in user_movies %}
        <li>Name: {{ movie.name }} // Director: {{ movie.director }} // Year: {{ movie.year }}  // {{ movie.rating }}<a href="{ url_for('list_user_movies', user_id=user.id) }"></a></li>
        {% endfor %}
    </ul>
</body>
</html>